<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

{% include nav.html %}
<ul id="slide-out" class="sidenav">
    <li><a class="header" href="{{ site.baseurl }}/">notes</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">{{ page.title }}</a></li>
    {% include toc.html html=content %}
</ul>
<div id="content">
    {{ content }}
</div>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="{{ site.baseurl }}/static/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/default.js"></script>
</body>

</html>