---
layout: default
---
<h2>{{ page.notebook }}</h2>
<div class="row valign-wrapper">
    <div class="col s11">
        <h1 class="title">{{ page.title }}{% if page.subtitle %} <span class="subtitle">{{ page.subtitle }}</span>{%
        endif %}</h1>
    </div>
    <div class="col s1 right-align">
        <a id="pdf-link"
          href="{{ site.baseurl }}static/pdf/{{ page.dir }}{{ page.url | split: '/' | last | split: '.' | first }}.pdf">
        <i class="material-icons">menu_book</i>
        </a>
    </div>
</div>
{% comment %} for some reason page.name is empty so I can't just split that {% endcomment %}
test: {{ site.static_files | first }}
{{ content }}

<hr>

<div class="small center">
<p><a href="https://github.com/jsinkers/notes/blob/master/{{ page.path }}">Edit this page</a>.</p>
</div>